<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<Configuration status="fatal">-->
<!--    &lt;!&ndash;打印在本地，根据具体存储地址填写&ndash;&gt;-->
<!--    <Properties>-->
<!--        <Property name="baseDir" value="D:\projects\spring-boot-one\logs"/>-->
<!--    </Properties>-->

<!--    <Appenders>-->
<!--        <Console name="Console" target="SYSTEM_OUT">-->
<!--            &lt;!&ndash;控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） &ndash;&gt;-->
<!--            <ThresholdFilter level="info" onMatch="ACCEPT"-->
<!--                             onMismatch="DENY"/>-->
<!--            <PatternLayout-->
<!--                    pattern="[%d{MM:dd HH:mm:ss.SSS}] [%level] [%logger{36}] - %msg%n"/>-->
<!--        </Console>-->

<!--        &lt;!&ndash;debug级别日志文件输出&ndash;&gt;-->
<!--        <RollingFile name="debug_appender" fileName="${baseDir}/debug.log"-->
<!--                     filePattern="${baseDir}/debug_%i.log.%d{yyyy-MM-dd}">-->
<!--            &lt;!&ndash; 过滤器 &ndash;&gt;-->
<!--            <Filters>-->
<!--                &lt;!&ndash; 限制日志级别在debug及以上在info以下 &ndash;&gt;-->
<!--                <ThresholdFilter level="debug"/>-->
<!--                <ThresholdFilter level="info" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--            </Filters>-->
<!--            &lt;!&ndash; 日志格式 &ndash;&gt;-->
<!--            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>-->
<!--            &lt;!&ndash; 策略 &ndash;&gt;-->
<!--            <Policies>-->
<!--                &lt;!&ndash; 每隔一天转存 &ndash;&gt;-->
<!--                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>-->
<!--                &lt;!&ndash; 文件大小 &ndash;&gt;-->
<!--                <SizeBasedTriggeringPolicy size="100 MB"/>-->
<!--            </Policies>-->
<!--        </RollingFile>-->

<!--        &lt;!&ndash; info级别日志文件输出 &ndash;&gt;-->
<!--        <RollingFile name="info_appender" fileName="${baseDir}/info.log"-->
<!--                     filePattern="${baseDir}/info_%i.log.%d{yyyy-MM-dd}">-->
<!--            &lt;!&ndash; 过滤器 &ndash;&gt;-->
<!--            <Filters>-->
<!--                &lt;!&ndash; 限制日志级别在info及以上在error以下 &ndash;&gt;-->
<!--                <ThresholdFilter level="info"/>-->
<!--                <ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>-->
<!--            </Filters>-->
<!--            &lt;!&ndash; 日志格式 &ndash;&gt;-->
<!--            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>-->
<!--            &lt;!&ndash; 策略 &ndash;&gt;-->
<!--            <Policies>-->
<!--                &lt;!&ndash; 每隔一天转存 &ndash;&gt;-->
<!--                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>-->
<!--                &lt;!&ndash; 文件大小 &ndash;&gt;-->
<!--                <SizeBasedTriggeringPolicy size="100 MB"/>-->
<!--            </Policies>-->
<!--        </RollingFile>-->

<!--        &lt;!&ndash; error级别日志文件输出 &ndash;&gt;-->
<!--        <RollingFile name="error_appender" fileName="${baseDir}/error.log"-->
<!--                     filePattern="${baseDir}/error_%i.log.%d{yyyy-MM-dd}">-->
<!--            &lt;!&ndash; 过滤器 &ndash;&gt;-->
<!--            <Filters>-->
<!--                &lt;!&ndash; 限制日志级别在error及以上 &ndash;&gt;-->
<!--                <ThresholdFilter level="error"/>-->
<!--            </Filters>-->
<!--            &lt;!&ndash; 日志格式 &ndash;&gt;-->
<!--            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>-->
<!--            <Policies>-->
<!--                &lt;!&ndash; 每隔一天转存 &ndash;&gt;-->
<!--                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>-->
<!--                &lt;!&ndash; 文件大小 &ndash;&gt;-->
<!--                <SizeBasedTriggeringPolicy size="100 MB"/>-->
<!--            </Policies>-->
<!--        </RollingFile>-->
<!--    </Appenders>-->
<!--    <Loggers>-->
<!--        <Root level="debug">-->
<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="debug_appender"/>-->
<!--            <AppenderRef ref="info_appender"/>-->
<!--            <AppenderRef ref="error_appender"/>-->
<!--        </Root>-->

<!--    </Loggers>-->
<!--</Configuration>-->
